body{
    margin:0;
    padding:0;
    background-color:rgb(255 245 236);;
}
/* header start */
.header_container{
    margin:0;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.logo{
    padding:19px 18px;
}
.menu{
}
.menu_list{
    display:flex;
    list-style-type:none;
    padding-right:25px;
}
.menu_list li{
    padding:0 20px;
}
.menu_list li a{
    font-weight:700;
    font-size:26px;
    line-height:30px;
    text-decoration:none;
    color:black;
    white-space:nowrap;
}











.slide{
    position:relative;
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
    margin:250px 0;
}
.slide img{
    position:absolute;
    width:100%;
    height:500px;
}
.slide a{
    display:block;
    width:60px;
    height:45px;
    background-color:rgba(0, 0, 0, .89);
    z-index:1000;
    text-decoration:none;
    text-align:center;
    color: #fff;
    line-height:45px;
    font-weight:bold;
}
.next{
    position:absolute;
    right:0;
    top:0; 
}
.prev{
    position:absolute;
    left:0;
    top:0; 
}












/* end header */
/* main start */
/* reusemarket_start start*/
.reusemarket_about{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.reusemarket_about img{
    width:696px;
    padding: 40px 40px 0 40px;
}
.reusemarket_about p{
    font-size:38px;
    font-weight:700;
    color:#003994;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.15em;
}
.reusemarket_gacbage{
    display:flex;
    justify-content:center;
}
.gacbage{
    width:245px;
    height:auto;
    border:#BCEECF solid 9px;
    margin:40px;
    text-align:center;
    background:#fff;
    border-radius:5px;
}
.gacbage img{
    width:auto;
    padding:5px;
}
.gacbage p{
    text-align:center;
    font-size:26px;
    font-style: normal;
    margin:0;
    font-weight:700;
    white-space:inherit;
    line-height:30px;
    letter-spacing:0.15em;
}
.reusemarket_text{
    text-align:center;
}
.reusemarket_text p{
    font-style:normal;
    font-weight:400;
    font-size:27px;
    line-height:32px;
    text-align:center;
}
.reusemarket_text h2{
    font-style:normal;
    font-weight:700;
    font-size:38px;
    line-height:45px;  
    border-radius:5px;
    background:#bceecf;
    background-size:cover;                                                    
}
.reusemarket_sabisu{

    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:auto auto;
    grid-template-areas:
                        "h1 h2 h3"
                        "h4 h5 h6"
    ;
}
.sabisu_one{
    grid-area:h1;
}
.sabisu_two{
    grid-area:h2;
}
.sabisu_three{
    grid-area:h3;
}
.sabisu_four{
    grid-area:h4;
}
.sabisu_five{
    grid-area:h5;
}
.sabisu_six{
    grid-area:h6;
}

/* end reusemarket_start */
/* end main */